# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch


# Fortran module files
*.mod
*.smod


# Executables
*.out
*.app

Data/
CalibParams/
annotationtool_1.0-1/
build/
libs/Linux/Qt5static_v5.15.2_min
