# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj
*.deb

# Precompiled Headers
*.gch
*.pch


# Fortran module files
*.mod
*.smod


# Executables
*.out
*.app

Data/
CalibParams/
annotationtool_1.0-1/
build/


opencv_install/
qt_install/
