# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj
*.deb

# Precompiled Headers
*.gch
*.pch


# Fortran module files
*.mod
*.smod


# Executables
*.out
*.app

Data/
CalibParams/
annotationtool_1.0-1/
build/

libs/OpenCV/opencv_static/
libs/OpenCV/build/

libs/Qt5/build
libs/Qt5/qt5_static
